<h1>Searchcheck#search</h1>
<p>Find me in app/views/searchcheck/search.html.erb</p>

<form name="Survey" method="get" action="">
  <div class= "survey">  
    <p>
    <label for="Alcohol">도수</label>
    <input type="checkbox" name="Alcohol" value=1> 4도 이하
    <input type="checkbox" name="Alcohol" value=2> 6도 이하
    <input type="checkbox" name="Alcohol" value=3> 8도 이하
    <input type="checkbox" name="Alcohol" value=4> 10도 이하
    <input type="checkbox" name="Alcohol" value=5> 10도 이상
    </p>

    <p>
    <label for="Fruit">과일향</label>
    <input type="checkbox" name="Fruit" value=1> 유
    <input type="checkbox" name="Fruit" value=2> 무
    </p>

    <p>
    <label for="IBU">쓴 맛(IBU기준)</label>
    <input type="checkbox" name="IBU" value=1> 0-20
    <input type="checkbox" name="IBU" value=2> 21-40
    <input type="checkbox" name="IBU" value=3> 41-60
    <input type="checkbox" name="IBU" value=4> 61-80
    <input type="checkbox" name="IBU" value=5> 81-100
    </p>
    </div>
    
    <input type="submit" value="SUBMIT" style="float: right;">

  </form>